In part 2, we will learn how to select data from a dataFrame. Let's download stocks data from Yahoo Finance. This is historic data of S&P 500 stocks. (https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC). I renamed the file to stocks.csv. Let's start by importing pandas and load data from the CSV file.

In [1]:
import pandas as pd
data=pd.read_csv('stocks.csv')

Let's look at the columns we have in our DataFrame.

In [2]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

Using the 'loc' property. loc can be used to retrieve data based on labels. By default, the index column of the DataFrame is considered a label. So in our data, if we want to retrieve data in all columns in row 3, we will use:

In [3]:
data.loc[3]

Date         2020-01-15
Open            3282.27
High            3298.66
Low             3280.69
Close           3289.29
Adj Close       3289.29
Volume       3716840000
Name: 3, dtype: object

However, for the ease of readability, it might be best to assign more reasonable labels. So in our data, since it can be considered time series data, we can assign the Date columns as the index.

In [4]:
data.index=data['Date']

Now that we are using dates as the labels, it will be very easy to retrieve data. Say we want to look at the data from the first of January.

In [5]:
data.loc['2021-01-04']

Date         2021-01-04
Open            3764.61
High            3769.99
Low             3662.71
Close           3700.65
Adj Close       3700.65
Volume       5006680000
Name: 2021-01-04, dtype: object

Now lets say we are interested in a specific column, say the closing price. We can do that by passing the column name.

In [6]:
data.loc['2021-01-04', 'Close']

3700.649902

To retrieve data from more than one column, you pass on the names of the columns as a list. Similarly, if you need data from more than one rows, you can pass the labels as a list too.

In [7]:
# Open and close for Janurary 4.
print(data.loc['2021-01-04', ['Open', 'Close']])
       
# Open and close for Janurary 4 and 5.
print(data.loc[['2021-01-04','2021-01-05'], ['Open','Close']])

Open     3764.61
Close    3700.65
Name: 2021-01-04, dtype: object
                   Open        Close
Date
2021-01-04  3764.610107  3700.649902
2021-01-05  3698.020020  3726.860107

Now if you want to view certain columns for the whole DataFrame, you can do it as follow:

In [8]:

print(data.loc[:, ['Open','Close']])

                   Open        Close
Date
2020-01-10  3281.810059  3265.350098
2020-01-13  3271.129883  3288.129883
2020-01-14  3285.350098  3283.149902
2020-01-15  3282.270020  3289.290039
2020-01-16  3302.969971  3316.810059
...                 ...          ...
2021-01-04  3764.610107  3700.649902
2021-01-05  3698.020020  3726.860107
2021-01-06  3712.199951  3748.139893
2021-01-07  3764.709961  3803.790039
2021-01-08  3815.050049  3824.679932

[252 rows x 2 columns]

iloc enables you to retrieve data based on imaginary numeric index. Notice that the numeric index is imaginary, means that it is the actual index column. For example, in our data, the Date column was assigned as an index. But using iloc, you can retrieve data based on index numbers starting from 0. So for example, if you want to retrieve the row at index 0, you can do it as follow:

In [9]:
data.iloc[0]

Date         2020-01-10
Open            3281.81
High            3282.99
Low             3260.86
Close           3265.35
Adj Close       3265.35
Volume       3212970000
Name: 2020-01-10, dtype: object

In a similar fasion, you can use iloc to retriev data from a specific row and column by providing indices for both. Say we want to retrieve data from the 2nd row and 3rd column.

In [10]:
data.iloc[2,3]

3277.189941

One may wonder what could be the use of this. In our data, imaging you want to retrieve the last 3 rows. You can do that using iloc.

In [11]:
print(data.iloc[-1])

Date         2021-01-08
Open            3815.05
High            3826.69
Low              3783.6
Close           3824.68
Adj Close       3824.68
Volume       4764180000
Name: 2021-01-08, dtype: object

So just like a list, you can use indices to retrieve date or range  of data from the begining or end, as well as use steps. For example, you want to pick every 3rd row, you can do so.

In [12]:
data.iloc[::3]

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2020-01-10,2020-01-10,3281.810059,3282.989990,3260.860107,3265.350098,3265.350098,3212970000
2020-01-15,2020-01-15,3282.270020,3298.659912,3280.689941,3289.290039,3289.290039,3716840000
2020-01-21,2020-01-21,3321.030029,3329.790039,3316.610107,3320.790039,3320.790039,4105340000
2020-01-24,2020-01-24,3333.100098,3333.179932,3281.530029,3295.469971,3295.469971,3707130000
2020-01-29,2020-01-29,3289.459961,3293.469971,3271.889893,3273.399902,3273.399902,3584500000
...,...,...,...,...,...,...,...
2020-12-17,2020-12-17,3713.649902,3725.120117,3710.870117,3722.479980,3722.479980,4184930000
2020-12-22,2020-12-22,3698.080078,3698.260010,3676.159912,3687.260010,3687.260010,4023940000
2020-12-28,2020-12-28,3723.030029,3740.510010,3723.030029,3735.360107,3735.360107,3527460000
2020-12-31,2020-12-31,3733.270020,3760.199951,3726.879883,3756.070068,3756.070068,3172510000
2021-01-06,2021-01-06,3712.199951,3783.040039,3705.340088,3748.139893,3748.139893,6049970000

Using iloc, we can actually set the value of cells. For example, in our  data, let's say we want to set the Volume to 0 for every other row.

In [13]:
data.iloc[::2,6]=0

In [14]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2020-01-10,2020-01-10,3281.810059,3282.989990,3260.860107,3265.350098,3265.350098,0
2020-01-13,2020-01-13,3271.129883,3288.129883,3268.429932,3288.129883,3288.129883,3456380000
2020-01-14,2020-01-14,3285.350098,3294.250000,3277.189941,3283.149902,3283.149902,0
2020-01-15,2020-01-15,3282.270020,3298.659912,3280.689941,3289.290039,3289.290039,3716840000
2020-01-16,2020-01-16,3302.969971,3317.110107,3302.820068,3316.810059,3316.810059,0
...,...,...,...,...,...,...,...
2021-01-04,2021-01-04,3764.610107,3769.989990,3662.709961,3700.649902,3700.649902,5006680000
2021-01-05,2021-01-05,3698.020020,3737.830078,3695.070068,3726.860107,3726.860107,0
2021-01-06,2021-01-06,3712.199951,3783.040039,3705.340088,3748.139893,3748.139893,6049970000
2021-01-07,2021-01-07,3764.709961,3811.550049,3764.709961,3803.790039,3803.790039,0
2021-01-08,2021-01-08,3815.050049,3826.689941,3783.600098,3824.679932,3824.679932,4764180000

Selecting data connditionally
Pandas also provide us to pick and drop rows conditionally. For example, we want to display data only for dates on which the closing price was above the mean closing price. To do so, first we define the condition, assign it to an object and then pass that  object to the loc property.

In [15]:
high_close=data.Close>data.Close.mean()
data.loc[high_close]

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2020-01-10,2020-01-10,3281.810059,3282.989990,3260.860107,3265.350098,3265.350098,0
2020-01-13,2020-01-13,3271.129883,3288.129883,3268.429932,3288.129883,3288.129883,3456380000
2020-01-14,2020-01-14,3285.350098,3294.250000,3277.189941,3283.149902,3283.149902,0
2020-01-15,2020-01-15,3282.270020,3298.659912,3280.689941,3289.290039,3289.290039,3716840000
2020-01-16,2020-01-16,3302.969971,3317.110107,3302.820068,3316.810059,3316.810059,0
...,...,...,...,...,...,...,...
2021-01-04,2021-01-04,3764.610107,3769.989990,3662.709961,3700.649902,3700.649902,5006680000
2021-01-05,2021-01-05,3698.020020,3737.830078,3695.070068,3726.860107,3726.860107,0
2021-01-06,2021-01-06,3712.199951,3783.040039,3705.340088,3748.139893,3748.139893,6049970000
2021-01-07,2021-01-07,3764.709961,3811.550049,3764.709961,3803.790039,3803.790039,0
2021-01-08,2021-01-08,3815.050049,3826.689941,3783.600098,3824.679932,3824.679932,4764180000

Another example would be to pick a date with a specific price. So we want to know data from the day where the closing price was 3700.649902.

In [16]:
condition = data.Close == 3700.649902
data.loc[condition]

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2021-01-04,2021-01-04,3764.610107,3769.98999,3662.709961,3700.649902,3700.649902,5006680000